.account-billing-panel {
  margin-top: 2em;
  background: #ffffff;
  padding: 2em;
  border-radius: 5px;
}

.month {
  font-size: 21px;
}

.increase {
  color: #e40046;
}

.billing-info {
  margin-top: 2em;
}

.warning {
  max-width: 52px;
  max-height: 46px;
}

.no-padding {
  padding: 0;
}
