.top {
  margin-top: 0;
  position: absolute;
  top: -70px;
}

.glyphicon {
  color: #000000;
  padding: 15px;
  font-size: 30px;
}

li {
  list-style: none;
  padding-top: 20px;
}

.top-navigation {
  background-color: #323435;
  height: 50px;
}

.primary-nav-li > a {
  color: #ffffff !important;
}

.customer-secondary-navigation {
  background-color: #fff !important;
  position: relative;
  padding-bottom: 0.25em;
}
.secondary-ul {
  padding-left: 5em;
}

.secondary-ul > li {
  padding-left: 1em;
}

.secondary-ul > li > a {
  color: #323435;
  font-weight: bold;
}

.nav-right {
  position: absolute;
  right: 20px;
  top: -70px;
}

.brand-logo-2 {
  margin-top: 0.5em;
  width: 150px;
}

.active {
  color: #892ba0 !important;
}

.secondary-ul > li > a {
  padding-top: 0;
  padding-bottom: 0;
  font-size: 20px;
}

.secondary-ul {
  margin-top: 2.5em;
}

@media (max-width: 768px) {
  .top {
    position: relative;
    top: 0;
  }

  .nav-right {
    float: none;
  }
  .top-navigation {
    height: 0;
  }
}
