ul > li {
  display: inline-block;
}

.footer-links-bottom > li > a {
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.footer-links-bottom > li > a:hover {
  text-decoration: none;
  color: #2f7ee1;
}

.footer-links-bottom {
  text-align: center;
}
