footer {
  background: #000000;
  color: #fff;
  background: #000000 url(https://business.eir.ie/assets/img/eir/footer-bg.png) no-repeat 50%;
  height: 100%;
  position: relative;
}

.menu {
  padding-left: 0;
  text-align: left;
}

.menu > li > a {
  color: #ffffff;
  text-align: left;
  padding: 0;
  font-size: 16px;
  line-height: 21px;
}

.menu > li > a:hover {
  text-decoration: none;
  color: #2f7ee1;
}

.menu > li {
  padding-top: 0;
  display: block;
  padding-top: 0.5em;
}

.list-first {
  margin-bottom: 1em;
}

.buffer-top {
  margin-top: 5em;
}

.footer-first {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  margin-bottom: 2em;
}

@media (max-width: 991px) {
  .menu {
    min-height: 200px;
  }
}

@media (max-width: 768px) {
  .footer {
    text-align: center;
  }
  .menu {
    min-height: 150px;
  }
}
