.login-panel {
  color: #fff;
  background: #00b5d5
    url(https://www.eir.ie/opencms/export/system/modules/my.portal.opencms/myeir/assets/images/bg_eir_white_0.38_opacity.png)
    no-repeat 50%;
  border-radius: 6px;
  padding: 4em;
  margin: 3em auto 30px;
  background-size: cover;
  height: 100%;
}

.login-input {
  height: 52px;
  padding: 12px;
  margin: 0;
  width: 100%;
  font-family: GT Walsheim Regular, sans-serif;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: normal;
  color: #888;
  background-color: #fff;
  border: 2px solid #ececec;
  border-radius: 4px;
  transition: border 0.2s ease-in-out, line-height 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: none;
  box-sizing: border-box;
  -webkit-appearance: none;
}

.login-panel-container {
}

.forotten-email {
  text-decoration: underline;
  transition: color 0.25s ease-in-out;
}

.form-text {
  color: #ffffff;
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
}

.button {
  color: #fff;
  background: #005670;
  border: 2px solid #005670;
  height: 52px;
  overflow: hidden;
  font-family: Eir Medium, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #fff;
  text-decoration: none;
  border: 2px solid #00b5d5;
  border-radius: 4px;
  width: 96%;
  margin-bottom: 15px;
  text-align: center;
}
