.orders-panel {
  margin-top: 2em;
  background: #ffffff;
  padding: 2em;
  border-radius: 5px;
}

.order-filter {
  text-align: left;
  margin-bottom: 2em;
}

.order-filter > li {
  padding-right: 1em;
  font-size: 18px;
}

.order-filter > li > a {
  padding-left: 0;
  padding-right: 0;
  color: #892ba0;
}

.active {
  text-decoration: underline;
}

.order-single {
  margin-bottom: 1em;
}

.order-border {
  border-left: 1px solid #e4e4e5;
  height: 25px;
  margin-left: 25px;
  margin-top: 5px;
}
