.date-circle {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: 400;
  vertical-align: baseline;
  background: 0 0;
}

.circle {
  display: flex;
  cursor: pointer;
  font-size: 16px;
  border: 2px solid #892ba0;
  border-radius: 50%;
  width: 53px;
  height: 53px;
  text-align: center;
  background: linear-gradient(-45deg, #fff 3%, #fff);
  color: #892ba0;
  font-weight: 700;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0.25em;
}

.order-delivery {
  background: #892ba0;
  color: #fff;
  text-align: center;
  border-radius: 20px;
  padding: 0.5em;
  max-width: 219px;
  display: block;
}

.delayed {
  background: #e40046;
}

.date {
  font-weight: bold;
}
