.phone-panel {
  margin-top: 2rem;
  margin-bottom: 2rem;
  min-height: 300px;
}

.phone-list-background {
  background-image: url(https://www.eir.ie/opencms/export/sites/default/.galleries/eir/temp/m33-eirbrand-background.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.phone-header {
  background-image: url(https://www.eir.ie/opencms/export/sites/default/.galleries/eir/banners/mobile_strip_message.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.phone-header-wrapper {
  margin: 0 auto;
  width: 100%;
  min-width: 320px;
  max-width: 1250px;
  text-align: left;
  padding: 6em;
}

.container-fluid {
  padding: 0;
}

.phone-header-title {
  font-size: 44px;
  line-height: 48px;
  color: #ffffff;
}

.heading-container {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  float: left;
}

.phone-title {
  font-size: 16px;
  line-height: 20px;
  color: #25262a;
  padding-top: 0.5em;
}

.price {
  font-size: 24px;
  color: #54585a;
  line-height: 24px;
}

.filter-wrapper {
  background: #ececec;
  padding-top: 2em;
  padding-bottom: 5em;
}

.filter-input {
  height: 52px;
}
