.recommended-panel {
  background: #ffffff;
  padding: 2em;
}

.recommended-block {
  margin-top: 3em;
}

.product-image {
  max-width: 150px;
  max-height: 216px;
}

.product-block {
  margin-top: 2em;
}
.product-description {
  margin-top: 2em;
}

.news-block {
  margin-top: 2em;
}

.product-section {
  border-right: 1px solid #e4e4e5;
}

.more-info {
  color: #892ba0;
  text-decoration: underline;
  padding: 0;
}
