.recommended-phones {
  background: url(https://www.eir.ie/opencms/export/sites/default/.galleries/eir/temp/m33-most-popular-handset-background.png);
  background-size: cover;
  background-repeat: no-repeat;
}
