.register-text {
  padding: 10px 0 4px;
  margin: 0;
  display: block;
  font-size: 16px;
  color: #005670;
}

.register-button {
  height: 52px;
  overflow: hidden;
  font-family: Eir Medium, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 48px;
  width: 100%;
  color: #fff;
  text-decoration: none;
  background: #00b5d5;
  border: 2px solid #00b5d5;
  border-radius: 4px;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out,
    border-color 0.25s ease-in-out;
}

.register-button:hover {
  text-decoration: none;
}
