.service-requests-panel {
  margin-top: 2em;
  background: #ffffff;
  padding: 2em;
  border-radius: 5px;
}

.service-request-button {
  height: 50px;
  width: 100%;
  background: transparent;
  border: 2px solid #892ba0;
  border-radius: 15px;
  color: #892ba0;
  text-align: center;
  font-weight: bold;
}

.service-request-button:hover {
  background: #892ba0;
  color: #fff;
  text-decoration: none;
}

.row.is-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

/*
* And with max cross-browser enabled.
* Nobody should ever write this by hand.
* Use a preprocesser with autoprefixing.
*/
.row.is-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.service-request {
  margin-top: 1em;
}

.service-border {
  border-bottom: 1px solid #e4e4e5;
  margin-right: 25px;
  margin-left: 15px;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.service-request-status {
  width: 137px;
  height: 29px;
  border-radius: 20px;
  text-align: center;
  padding: 0.25em;
  color: #ffffff;
}

.open {
  background-color: #ed8b00;
}

.closed {
  background-color: #43b02a;
}
