.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

body {
  font-family: 'Arial';
  background: #e4e4e5;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button--primary {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.top {
  margin-top: 0;
  position: absolute;
  top: -70px;
}

.glyphicon {
  color: #fff;
  padding: 15px;
}

li {
  list-style: none;
  padding-top: 20px;
}

.navbar-nav > li > a {
  color: black;
  /*padding: 15px;*/
}

.top-navigation {
  background-color: #c6c6c6;
  height: 50px;
}

.secondary-navigation {
  background-color: #ececec;
  position: relative;
  padding-bottom: 1em;
}

@media (max-width: 768px) {
  .top {
    position: relative;
    top: 0;
  }
}

.login-panel {
  color: #fff;
  background: #00b5d5
    url(https://www.eir.ie/opencms/export/system/modules/my.portal.opencms/myeir/assets/images/bg_eir_white_0.38_opacity.png)
    no-repeat 50%;
  border-radius: 6px;
  padding: 4em;
  margin: 3em auto 30px;
  background-size: cover;
  height: 100%;
}

.login-input {
  height: 52px;
  padding: 12px;
  margin: 0;
  width: 100%;
  font-family: GT Walsheim Regular, sans-serif;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: normal;
  color: #888;
  background-color: #fff;
  border: 2px solid #ececec;
  border-radius: 4px;
  transition: border 0.2s ease-in-out, line-height 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: none;
  box-sizing: border-box;
  -webkit-appearance: none;
}

.login-panel-container {
}

.forotten-email {
  text-decoration: underline;
  transition: color 0.25s ease-in-out;
}

.form-text {
  color: #ffffff;
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
}

.button {
  color: #fff;
  background: #005670;
  border: 2px solid #005670;
  height: 52px;
  overflow: hidden;
  font-family: Eir Medium, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #fff;
  text-decoration: none;
  border: 2px solid #00b5d5;
  border-radius: 4px;
  width: 96%;
  margin-bottom: 15px;
  text-align: center;
}

.not-registered-container {
  padding: 4em;
  margin: 3em auto 30px;
}

.not-registered-title {
  margin: 0 0 15px;
  font-size: 32px !important;
  font-size: 2rem;
  color: #25262a;
}

.not-registered-button {
  margin-top: 32px;
  display: block;
  width: 100%;
  text-align: center;
  color: #00b5d5;
  background: transparent;
}

.text {
  color: #25262a;
  font-size: 16px;
  text-align: left;
  line-height: 19px;
  margin-bottom: 2em;
}

a.link-hover:hover {
  color: #ffc800;
}

.second-list {
  float: right;
}

@media (max-width: 768px) {
  .second-list {
    float: none;
  }
}

.no-padding {
  padding: 0;
}
